helloworld
{% paginate blog.articles by section.settings.number_of_blog_post %}
    {% for article in blog.articles %}
        <div>
            {% if article.image %}
                {{ article.image | image_url: width: 300 | image_tag }}
                {% else %}
                    {{ 'image' |  placeholder_svg_tag: 'w-20' }}
            {% endif %}
            <h1>{{ article.title }}</h1>

            {% if article.excerpt.size > 0 %}
                {% else %}
                    <p>{{ article.content |  strip_html | truncatewords: 12, '...' }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endpaginate %}

{% schema %}
    {
        "name": "blog",
        "settings": [
            {
                "type": "range",
                "id": "number_of_blog_post",
                "step": 1,
                "min": 1,
                "max": 6,
                "label": "Blog posts per page",
                "default": 3
            }
        ]
    }
{% endschema %}